{% extends "base.html" %}

{% block title %}Inscription{% endblock %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="container-form">
        <h2 class="text-center">Inscription</h2>
        <form method="POST" action="{{ url_for('inscription') }}">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" name="nom" required>
            </div>
            <div class="form-group">
                <label for="prenom">Prénom</label>
                <input type="text" class="form-control" id="prenom" name="prenom" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="mot_de_passe">Mot de passe</label>
                <input type="password" class="form-control" id="mot_de_passe" name="mot_de_passe" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
        </form>
        <p class="text-center mt-3">Vous avez déjà un compte ? <a href="{{ url_for('login') }}"
                class="text-primary">Connectez-vous ici</a></p>
    </div>
</div>
{% endblock %}