{% extends "base.html" %}

{% block content %}
<h1>Page de connexion</h1>
<form action="{{ url_for('login') }}" method="POST">
    <p>
        <label for="nom">Nom : </label>
        <input type="text" name="nom" id="nom">
    </p>
    <p>
        <label for="mot_de_passe">Mot de passe : </label>
        <input type="password" name="mot_de_passe" id="mot_de_passe">
    </p>
    <p>
        <button type="submit">Se connecter</button>
    </p>
</form>
<p>Pas encore inscrit ? <a href="{{ url_for('inscription') }}">Inscrivez-vous ici</a>.</p>
{% endblock %}